<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="item">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="/item/my_item" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{outlet}}